<!DOCTYPE html>
<html>
<head>
<script src="http://maps.googleapis.com/maps/api/js"></script>
<script src="http://maps.googleapis.com/maps/api/js?key=YOUR_KEY"></script>
<script>
function initialize() {
  var mapProp = {
    center:new google.maps.LatLng(42.4602778,-71.3494444),
    zoom:5,
    panControl:true,
    zoomControl:true,
    mapTypeControl:true,
    scaleControl:true,
    streetViewControl:true,
    overviewMapControl:true,
    rotateControl:true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
  };
  var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);
  var marker=new google.maps.Marker({
  position:myCenter,
  title:'Click to zoom'
  });

  marker.setMap(map);
  // Zoom to 9 when clicking on marker
  google.maps.event.addListener(marker,'click',function() {
    map.setZoom(9);
    map.setCenter(marker.getPosition());
    });

  google.maps.event.addListener(map,'center_changed',function() {
  // 3 seconds after the center of the map has changed, pan back to the marker
    window.setTimeout(function() {
      map.panTo(marker.getPosition());
    },3000);
    });
  }
google.maps.event.addDomListener(window, 'load', initialize);
</script>
</head>
  <!-- body of the page with an onload to run the initialize function -->
  <body onload="up206b.initialize()">

      <!-- side panel div container -->
      <div id="side_panel">

          <!-- titles -->
          <h1 id="title">Look at my awesome map!!</h1>
          <h2 id="routeinfo"></h2>

          <!-- search box -->
          <div>
              <input type="text" id="address">
              <button onClick="up206b.geocode()">find</button>
          </div>

          <!-- layer list -->
          <div id="layerlist">
              <input id="uclaCircle_checkbox" onclick="up206b.toggleLayer(uclaCircle,'uclaCircle_checkbox')" type="checkbox" checked="checked" /> UCLA 2km buffer
          </div>

          <!-- bus stops -->
          <div id="stoplist"></div>
      </div>
      <div id="map_canvas"></div>
<!-- set the geocoder -->
<script>var geocoder = new google.maps.Geocoder();
  up206b.geocode = function()
  {
</script>
<!-- grab the address from user input field -->
<script>var address = $('#address').val();
      geocoder.geocode( { 'address': address}, function(results, status) {
          if (status == google.maps.GeocoderStatus.OK)
          {
              map.setCenter(results[0].geometry.location);
              var marker = new google.maps.Marker({
                  map: map,
                  position: results[0].geometry.location
              });
          }
          else
          {
              alert("Geocode was not successful for the following reason: " + status);
          }
      });
  }
</script>
<div id="googleMap" style="width:500px;height:380px;"></div>
</body>

</html>
